body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

header {
    background-color: navajowhite;
    text-align: center;
}

main {
    margin: auto;
    display: flex;
    width: 1000px;
    height: 500px;
}

footer {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
